@import '../../styles/variables';

$primary: unquote("rgb(#{$color-primary})");
$light: unquote("rgb(#{$palette-datahub-A100})");

.delete-all-row {
  width: 100%;
  margin-top: -20px;
}

.databases, .smart-mastering {
  border: 1px solid $light;
  border-radius: 5px;
  margin: auto;
  margin-top: 40px;
  background-color: $light;
  flex: none;

  .section-header {
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: $primary;
    color: white;
    text-align: left;
    margin-top: -25px;
    margin-bottom: 10px;

    i {
      font-size: 14px;
    }

    img {
      width: 24px;
    }
  }
}

.info-card {
  margin: 5px;
  padding: 5px 5px 0px 5px;
  background-color: #F4F6F9;
  min-width: 250px;

  .info-title {
    color: $primary;
    font-size: 16px;

    .mdi {
      font-size: 16px;
    }
  }

  .info-body {
    padding: 10px;

    .column-head {
      width: 100%;
      font-size: 92%;
    }
    .column-body {
      line-height: 100%;
      font-size: 30px;
      font-weight: 300;
      color: $primary;
    }
  }
}
