<div class="sm-inbox-page" layout-padding layout="column" layout-align="center center">
  <h1><i class="mdi mdi-inbox"></i> Inbox Items</h1>

  <div *ngIf="!loading" layout="column" flex layout-align="center center" class="full-width">
    <div *ngIf="!loading && (!items || items.length === 0)">No Items</div>
    <div class="mdl-grid results">
      <div class="mdl-cell mdl-cell--12-col">
        <app-pagination [start]="start"
          [total]="total"
          [pageLength]="pageSize"
          (pageChanged)="pageChanged($event)"></app-pagination>
        <table left-align
          class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"
          *ngIf="items && items.length > 0">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">
                <mdl-checkbox
                  [ngModel]="allChecked"
                  (click)="toggleAll()"></mdl-checkbox>

                <button [style.visibility]="someChecked ? 'visible': 'hidden'" class="actions" mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-ripple><i class="material-icons">more_vert</i></button>
                <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-left">
                  <mdl-menu-item mdl-ripple (click)="markRead()">Mark Read</mdl-menu-item>
                  <mdl-menu-item mdl-ripple (click)="markUnread()">Mark Unread</mdl-menu-item>
                  <mdl-menu-item mdl-ripple (click)="delete()"><i class="fa fa-trash"></i> Delete</mdl-menu-item>
                </mdl-menu>
              </th>
              <th class="read-status"></th>
              <th class="mdl-data-table__cell--non-numeric">Type</th>
              <th class="mdl-data-table__cell--non-numeric">Matches</th>
              <th class="mdl-data-table__cell--non-numeric">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items" [ngClass]="item.meta.status">
              <td>
                <mdl-checkbox
                  [(ngModel)]="checked[item.meta.uri]"
                  ></mdl-checkbox>
              </td>
              <td class="read-status"><i *ngIf="item.meta.status === 'unread'" class="fa fa-circle"></i></td>
              <td (click)="compareItems(item)">{{item.thresholdLabel}}</td>
              <td (click)="compareItems(item)">{{item.uris.length}}</td>
              <td (click)="compareItems(item)">{{item.meta.dateTime | datePipe}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="loading" flex layout="column" layout-align="center center">
    <h3>Loading Items...</h3>
    <div class="center-text">
      <mdl-spinner single-color active></mdl-spinner>
    </div>
  </div>
</div>

